.container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;  
    /* height: 100vh; For 100% screen height
    width:  100vw; For 100% screen width */ 
    background-image: url('../photo/background.png');
    /* background-repeat: repeat; */
    /* background-size: cover; */ 
    /* min-height: 100%; */
    /* height: 100%; */ 
    overflow: hidden; 
}
.body {
    display: flex; 
    flex-direction: row;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* background-color: rgb(34, 8, 179);  */
}
.fileInput {
    display: flex;
    justify-content: center;
    align-items: center; 
    border: solid;
    border-width: thick;
    border-color: rgb(15, 111, 198);
    border-radius: 15%;
    /* background-color: rgb(8, 179, 79); */
}
.innerFileInput {
    display: flex;
    justify-content: center;
    align-items: center; 
    border: dashed;
    border-width: thick;
    border-color: rgb(15, 111, 198);
    border-radius: 15%;
}
.button {
    display: flex;
    justify-content: center; 
    align-items: center;  
    border: solid;
    border-width: thick;
    border-color: rgb(15, 111, 198);
    background-color: white; 
    font-family: 'bangna-new';  
    font-weight: bold;
    color: rgb(15, 111, 198);
}
.right {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    /* background-color: orange; */
}
.borderList {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    border: solid;
    border-width: thick;
    border-color: rgb(15, 111, 198);
    background-color: white; 
    overflow-y: scroll;
}



