.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: cadetblue;   */
    height: 100%;
}
.a {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: 'red'
}